<%= form_for(task_user) do |f| %>
  <% if task_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_user.errors.count, "error") %> prohibited this task_user from being saved:</h2>

      <ul>
      <% task_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
