<div>
  <h3>Tasks Notifications:</h3>
  <table>
    <thead>
    <tr>
      <td>Task name</td>
      <d>Assigned User</d>
    </tr>
    </thead>
    <tbody>
    <%= render @task_notifications %>
    </tbody>
  </table>
</div>