<h1>New Message</h1>

<%= render 'form', message: @message %>

<!--<button type="button" class="btn btn-primary"><%= link_to 'Back', messages_path  %></button>-->
<%= link_to 'Back', messages_path %>
<!--<%= link_to 'Back', messages_path, :class => 'btn btn-info'%>-->